name: Publish to PyPI

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build toml jq

    - name: Extract version from pyproject.toml
      id: get_version
      run: |
        VERSION=$(python -c "import toml; print(toml.load('pyproject.toml')['project']['version'])")
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Check if version is already published
      id: check_pypi
      run: |
        PACKAGE_NAME=$(python -c "import toml; print(toml.load('pyproject.toml')['project']['name'])")
        VERSION=${{ steps.get_version.outputs.version }}
        EXISTS=$(curl -s https://pypi.org/pypi/$PACKAGE_NAME/json | jq -r ".releases | has(\"$VERSION\")")
        echo "exists=$EXISTS" >> $GITHUB_OUTPUT

    - name: Debug
      run: |
        ls -al
        find . -name "README.md"
        
    - name: Build the package
      if: steps.check_pypi.outputs.exists != 'true'
      run: |
        python -m build

    - name: Publish to PyPI
      if: steps.check_pypi.outputs.exists != 'true'
      uses: pypa/gh-action-pypi-publish@v1.8.11
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
